{% extends "base.html" %}
{% load static %}
{% load humanize %}

{% block banner %}
  <section class="module bg-dark-30" data-background="{% static 'images/banner.jpg' %}">
      <div class="container">
        <div class="row">
          <div class="col-sm-6 col-sm-offset-3">
            <h1 class="module-title font-alt mb-0">My Cart</h1>
          </div>
        </div>
      </div>
  </section>
{% endblock banner %}


{% block content %}
    <section class="module">
        <div class="container">
            <div class="row">
                
                {% if cart %}
                    <div class="col-sm-7">
                        <div class="row">

                            {% for item in cart %}
                                <div class="cart-item">
                                    <div class="row">
                                        <div class="cart-item-details">
                                            <img src="{{ item.product.images.first.image.url }}" alt="{{ item.product.name }}" class="cart-item-image"/>
                                            <div class="cart-item-info">
                                                <h3>{{ item.product.name }}</h3>                                    
                                            </div>
                                        </div>

                                        <div class="cart-item-pricing">
                                            <div class="col-sm-1"></div>
                                            <div class="col-sm-4">
                                                {% if item.product.is_sale %}
                                                    <strike>₹ {{ item.product.price|floatformat:2|intcomma }}</strike>
                                                    &nbsp; ₹ {{ item.product.sale_price|floatformat:2|intcomma }}
                                                {% else %}
                                                    ₹ {{ item.product.price|floatformat:2|intcomma }}
                                                {% endif %}
                                            </div>
                                            <div class="col-sm-7"></div>
                                            
                                        </div>
                                    </div>

                                    
                                    <form class="form" method="POST" id="quantity-form">
                                        {% csrf_token %}
                                        <div class="cart-item-actions">
                                            <div class="quantity-controls form-group">
                                                <input type="hidden" name="product_id" value="{{ item.product.id }}"/>

                                                <button type="button" class="quantity-btn minus-btn" data-product-id="{{ item.product.id }}">-</button>
                                                <input type="text" 
                                                        name="item_quantity"
                                                    value="{{ item.quantity }}" 
                                                    class="quantity-input" 
                                                    id="quantity-input-{{ item.product.id }}" 
                                                    data-min="1" 
                                                    data-max="{{ item.product.max_quantity }}" 
                                                    readonly />
                                                <button type="button" class="quantity-btn plus-btn" data-product-id="{{ item.product.id }}">+</button>

                                            </div>
                                            
                                            <div class="row">
                                                <div class="col-sm-3"></div>
                                                <div class="form-group col-sm-6">
                                                    <button type="button" data-product-id="{{ item.product.id }}" class="remove-btn btn btn-danger btn-circle btn-block">REMOVE</button>
                                                </div>
                                                <div class="col-sm-3"></div>
                                            </div>

                                        </div>
                                    </form>
                                

                                </div>
                            {% endfor %}


                        </div>

                    </div>

                    <div class="col-sm-1"></div>
                    
                    <div class="col-sm-4">
                        <div class="row" id="price-details">
                            <h3>PRICE DETAILS</h3>
                            <table>
                                <tr>
                                    <td id="cart-length">Price ({{ cart|length }} items)</td>
                                    <td id="total-price">₹{{ cart.get_total_price }}</td>
                                </tr>
                                <tr>
                                    <td>Discount</td>
                                    <td id="total-discount">- ₹{{ cart.get_total_discount }}</td>
                                </tr>
                                {% comment %} <tr>
                                    <td>Coupons for you</td>
                                    <td>- ₹100</td>
                                </tr> {% endcomment %}
                                <tr>
                                    <td>Delivery Charges</td>
                                    <td id="delivery-charges">
                                        {% if cart.get_discounted_price > 1500 %}
                                            <strike>₹ {{ cart.get_delivery_charge|floatformat:2|intcomma }}</strike>
                                            &nbsp; FREE
                                        {% else %}
                                            ₹ {{ cart.get_delivery_charge|floatformat:2|intcomma }}
                                        {% endif %}
                                    </td>
                                </tr>
                                <tr class="total-amount">
                                    <td>Total Amount</td>
                                    <td id="final-amount">₹{{ cart.get_final_price }}</td>
                                </tr>
                                <tr>
                                    <td colspan="2" class="savings">You will save ₹<span id="total-savings">{{ cart.get_total_savings }}</span> on this order</td>
                                </tr>
                            </table>
                            <a href="{% url 'check_out' %}"><button class="place-order-btn">PLACE ORDER</button></a>
                            <div class="safe-payments">
                                <p>Safe and Secure Payments. Easy returns. 100% Authentic products.</p>
                            </div>
                        </div>
                        


                    </div>

                {% else %}
                    <h3 class="module-title font-alt mb-0">Your Cart is empty </h3>
                    <h4 class="module-title font-alt mb-0">Explore our wide selection and find something you like</h4>
                {% endif %}


            </div>
        </div>
    </section>

    <script>

        document.addEventListener('DOMContentLoaded', function () {
            const plusButtons = document.querySelectorAll('.plus-btn');
            const minusButtons = document.querySelectorAll('.minus-btn');
            const removeButtons = document.querySelectorAll('.remove-btn');

            plusButtons.forEach(button => {
                button.addEventListener('click', function () {
                    const productId = this.getAttribute('data-product-id');
                    const quantityInput = document.getElementById('quantity-input-' + productId);
                    let currentQuantity = parseInt(quantityInput.value);
                    const maxQuantity = parseInt(quantityInput.getAttribute('data-max'));
        
                    if (currentQuantity < maxQuantity) {
                        updateCart(productId, currentQuantity + 1, 'update');
                    }
                });
            });
        
            minusButtons.forEach(button => {
                button.addEventListener('click', function () {
                    const productId = this.getAttribute('data-product-id');
                    const quantityInput = document.getElementById('quantity-input-' + productId);
                    let currentQuantity = parseInt(quantityInput.value);
                    const minQuantity = parseInt(quantityInput.getAttribute('data-min'));
        
                    if (currentQuantity > minQuantity) {
                        updateCart(productId, currentQuantity - 1, 'update');
                    }
                });
            });

            removeButtons.forEach(button => {
                button.addEventListener('click', function () {
                    const productId = this.getAttribute('data-product-id');
                    updateCart(productId, 0, 'remove');
                });
            });

            function updateCart(productId, newQuantity, action) {
                const csrfToken = document.querySelector('[name=csrfmiddlewaretoken]').value;
            
                fetch("{% url 'update_cart' %}", {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': csrfToken
                    },
                    body: JSON.stringify({
                        product_id: productId,
                        item_quantity: newQuantity,
                        action: action
                    })
                })
                .then(response => response.json())
                .then(data => {
                    if (data.success) {
                        if (action === 'remove') {
                            const itemElement = document.querySelector(`[data-product-id="${productId}"]`).closest('.cart-item');
                            itemElement.remove();
            
                            const cartItems = document.querySelectorAll('.cart-item');
                            if (cartItems.length === 0) {
                                window.location.reload();
                            }
                        } else {
                            document.getElementById('quantity-input-' + productId).value = newQuantity;
                        }
                        

                        document.getElementById('cart-length').innerText = `Price (${data.cart_length} items)`;
                        document.getElementById('cart-length-nav').innerText = `${data.cart_length}`;
                        document.getElementById('total-price').innerText = `₹${data.total_price}`;
                        document.getElementById('total-discount').innerText = `- ₹${data.total_discount}`;
                        const deliveryChargeElement = document.getElementById('delivery-charges');
                            if (data.is_free_delivery) {
                                deliveryChargeElement.innerHTML = `<strike>₹ ${data.delivery_charge.toFixed(2).replace(/\B(?=(\d{3})+(?!\d))/g, ",")}</strike>&nbsp; FREE`;
                            } else {
                                deliveryChargeElement.innerText = `₹ ${data.delivery_charge.toFixed(2).replace(/\B(?=(\d{3})+(?!\d))/g, ",")}`;
                            }
                        document.getElementById('final-amount').innerText = `₹${data.final_price}`;
                        document.getElementById('total-savings').innerText = `₹${data.total_savings}`;
                        
                    } else {
                        console.error('Error updating cart');
                    }
                })
                .catch(error => console.error('Error:', error));
            }
            
        });
        
    </script>

{% endblock content %}
