{% extends 'accounts/forgot_password.html' %}
{% load crispy_forms_tags %}


{% block reset %}
  <form method="post">
    {% csrf_token %}

    <fieldset class="form-outline btn-pad">
        {{ form|crispy }}
    </fieldset>

      <div class="justify-content-center btn-pad">
        <div class="col-sm-2"></div>

        <div class="col-sm-8">
          <button
            class="btn btn-primary btn-circle btn-block" type="submit">REQUEST PASSWORD RESET
          </button>
        </div>

        <div class="col-sm-2"></div>
        
      </div>

  </form>
{% endblock reset %}