{% load humanize %}

<section class="module">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
                <h2 class="module-title font-alt">Featured products</h2>
                <div class="module-subtitle font-serif">A collection of premium products that you will only find in Shop Sphere</div>
            </div>
        </div>


        <div class="row">
            <div class="owl-carousel text-center" data-items="5" data-navigation="false">

                {% for product in featured_products %}
                    <div class="owl-item">
                        <div class="col-sm-12">
                            <div class="ex-product">
                                <a href="{% url 'product' product.id %}"><img src="{{ product.images.first.image.url }}" alt="{{ product.name }}"/></a>
                                <h4 class="shop-item-title font-alt">
                                    <a href="{% url 'product' product.id %}">{{ product.name }}</a>
                                </h4>
                                {% if product.is_sale %}
                                    <strike>₹ {{ product.price|floatformat:2|intcomma }}</strike>
                                    &nbsp; ₹ {{ product.sale_price|floatformat:2|intcomma }}
                                {% else %}
                                    ₹ {{ product.price|floatformat:2|intcomma }}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        

        <div class="row mt-30">
            <div class="col-sm-12 align-center">
                <a class="btn btn-b btn-round" href="{% url 'filter_products' 'exclusive' %}">See all products</a>
            </div>
        </div>

    </div>
</section>