{% load static %}

<section class="home-section home-parallax home-fade" id="home">
    <div class="hero-slider">
      <ul class="slides">
        <li class="bg-dark-30 bg-dark" style="background-image:url(&quot;{% static '/images/slider1.jpg' %}&quot;);">
          <div class="titan-caption">
            <div class="caption-content">
              <div class="font-alt mb-30 titan-title-size-1">This is Shop Sphere</div>
              <div class="font-alt mb-30 titan-title-size-4"> Since 2024</div>
              <div class="font-alt mb-40 titan-title-size-1">Your complete shopping destination</div>
            </div>
          </div>
        </li>
        <li class="bg-dark-30 bg-dark " style="background-image:url(&quot;{% static '/images/slider3.jpg' %}&quot;);">
          <div class="titan-caption">
            <div class="caption-content">
              <div class="font-alt mb-30 titan-title-size-1"> This is Shop Sphere</div>
              <div class="font-alt mb-40 titan-title-size-4">Exclusive products</div>
              <a class="section-scroll btn btn-border-w btn-round" href="{% url 'filter_products' 'exclusive' %}">View</a>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </section>