{% load humanize %}

<section class="module-small">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
                <h2 class="module-title font-alt">New Arrivals</h2>
            </div>
        </div>
        <div class="row multi-columns-row">

            {% for new_product in new_arrivals %}
            <div class="col-sm-6 col-md-3 col-lg-3">
                <div class="shop-item">
                    <a href="{{ new_product.get_absolute_url }}">
                        <div class="shop-item-image">
                            <img src="{{ new_product.images.first.image.url }}" alt="{{ new_product.name }}"/>
                        </div>
                    </a>
                  <h4 class="shop-item-title font-alt"><a href="{{ new_product.get_absolute_url }}">{{ new_product.name }}</a></h4>
                    {% if new_product.is_sale %}
                      <strike>₹ {{ new_product.price|floatformat:2|intcomma }}</strike>
                      &nbsp; ₹ {{ new_product.sale_price|floatformat:2|intcomma }}
                    {% else %}
                      ₹ {{ new_product.price|floatformat:2|intcomma }}
                    {% endif %}

                    <div class="row">
                
                        {% if new_product.get_average_rating != '0' %}
                          <div class="star-rating">
                            {% for i in "12345"|slice:":" %}
                                {% if new_product.get_average_rating >= i %}
                                    <span class="full">&#9733;</span>
                                {% elif new_product.get_average_rating >= i|add:"-0.5" %}
                                    <span class="half">&#9733;</span>
                                {% else %}
                                    <span class="empty">&#9733;</span>
                                {% endif %}
                            {% endfor %}
                          </div>
                        {% else %}
                        <p>This product has no rating yet<p>
                        {% endif %}
                      
                    </div>
                    
                </div>
              </div>
            {% endfor %}

        </div>
        
        <div class="row mt-30">
            <div class="col-sm-12 align-center">
                <a class="btn btn-b btn-round" href="{% url 'filter_products' 'new' %}">See all products</a>
            </div>
        </div>
    </div>
</section>