{% extends "base.html" %}
{% load static %}
{% load humanize %}


{% block content %}

  <section class="module">
    <div class="container">
      <div class="row">
        <div class="col-sm-6 mb-sm-40">
          <img id="main-image" class="gallery" src="{{ product.images.first.image.url }}" alt="Product Image"/>
          <ul class="product-gallery">
            {% for image in product.images.all %}
              <li><a class="gallery thumbnail" data-image-url="{{ image.image.url }}">
                <img src="{{ image.image.url }}" alt="Product Image"/>
              </a></li>
            {% endfor %}
          </ul>
        </div>
        <div class="col-sm-6">
          <div class="row">
            <div class="col-sm-12 centered-text">
              <h1 class="product-title font-alt">{{ product.name }}</h1>
            </div>
          </div>
          <div class="row mb-20">
            <div class="col-sm-12 centered-text">
              <div class="price font-alt"><span class="amount">
                {% if product.is_sale %}
                <strike>₹ {{ product.price|floatformat:2|intcomma }}</strike>
                &nbsp; ₹ {{ product.sale_price|floatformat:2|intcomma }}
                {% else %}
                  ₹ {{ product.price|floatformat:2|intcomma }}
                {% endif %}
              </span></div>

              <div class="row">
                
                {% if product.get_average_rating != '0' %}
                Average rating: <span>
                  <div class="star-rating">
                    {% for i in "12345"|slice:":" %}
                        {% if product.get_average_rating >= i %}
                            <span class="full">&#9733;</span>
                        {% elif product.get_average_rating >= i|add:"-0.5" %}
                            <span class="half">&#9733;</span>
                        {% else %}
                            <span class="empty">&#9733;</span>
                        {% endif %}
                    {% endfor %}
                  </div>
                {% else %}
                <p>This product has no rating yet<p>
                {% endif %}
                </span>
              </div>
            </div>
          </div>
          <div class="row mb-20">
            <div class="col-sm-12">
              <div class="description">
                <p>{{ product.short_description }}</p>
              </div>
            </div>
          </div>
          <div class="row mb-20">
              {% if product.id|stringformat:"s" in cart.cart %}
              <div class="col-sm-10"><a class="btn btn-lg btn-block btn-round btn-b" href="{% url 'cart' %}">Go To Cart</a></div>
              {% else %}
              <div class="col-sm-10"><a class="btn btn-lg btn-block btn-round btn-b" href="{% url 'add_to_cart' product.id %}">Add To Cart</a></div>
              {% endif %}
            
          </div>
          <div class="row mb-20">
            <div class="col-sm-12">
              <div class="product_meta">Categories:
                {% for category in all_categories %}
                  <a href="{% url 'categories' category.slug %}"> {{ category.name }}, </a>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
      </div>


      <div class="row mt-70">
        <div class="col-sm-12">
          <ul class="nav nav-tabs font-alt" role="tablist">
            <li class="active"><a href="#description" data-toggle="tab"><span class="icon-tools-2"></span>Description</a></li>
            <li><a href="#specifications" data-toggle="tab"><span class="icon-tools-2"></span>Specifications</a></li>
            <li><a href="#reviews" data-toggle="tab"><span class="icon-tools-2"></span>Reviews</a></li>
          </ul>
          
          <div class="tab-content">
            
            <div class="tab-pane active" id="description">
              <p>{{ product.description }}</p>
            </div>
            
            <div class="tab-pane" id="specifications">
              <table>
                {% for specification_category, specs in product.specification.items %}
                  <thead>
                      <tr>
                          <th colspan="2">{{ specification_category }}</th>
                      </tr>
                  </thead>
                  <tbody>
                    {% for header, content in specs.items %}
                      <tr>
                          <td>{{ header }}</td>
                          <td>{{ content}}</td>
                      </tr>
                    {% endfor %}
                  </tbody>
                {% endfor %}
              </table>
            </div>
            
            <div class="tab-pane" id="reviews">
              <div class="comments reviews">
                  
                {% for review in reviews %}

                  <div class="comment clearfix">
                    <div class="comment-content clearfix">
                      <div class="comment-author font-alt">{{ review.user.first_name }} {{ review.user.last_name }}</div>
                      <div class="comment-body">
                        
                        {% if review.review %}
                          <p>{{ review.review }}</p>
                        {% endif %}
                      
                      </div>
                      <div class="comment-meta font-alt">{{ review.date_updated }} -<span>
                        <div class="star-rating">
                          {% for i in "12345"|slice:":" %}
                              {% if review.rating >= i %}
                                  <span class="full">&#9733;</span>
                              {% elif review.rating >= i|add:"-0.5" %}
                                  <span class="half">&#9733;</span>
                              {% else %}
                                  <span class="empty">&#9733;</span>
                              {% endif %}
                          {% endfor %}
                        </div></span>
                      </div>
                    </div>
                  </div>

                {% endfor %}
                
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <hr class="divider-w">

  {% include "products/related_products.html" %}

{% endblock content %}

