<section class="module module-video bg-dark-30">
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
          <h2 class="module-title font-alt mb-0">Be inspired. Get ahead of trends.</h2>
        </div>
      </div>
    </div>
    <div class="video-player" data-property="{videoURL:'https://youtu.be/UI3SlsDDfGs?si=vRBcUzG7qxZakzR7', containment:'.module-video', startAt:0, mute:true, autoPlay:true, loop:true, opacity:1, showControls:false, showYTLogo:false, vol:25}"></div>
  </section>