<section class="sub-footer" id="sub-footer">
    <div class="module-small bg-dark">
      <div class="container">
        <div class="row">
          <div class="col-sm-4">
            <div class="widget text-center">
              <h5 class="widget-title font-alt">Shop With Us</h5>
              <ul class="icon-list">
                <p><a href="{% url 'categories' %}">Browse Categories</a></p>
                <p><a href="{% url 'products' %}">Browse Products</a></p>
              </ul>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="widget text-center">
              <h5 class="widget-title font-alt">Connect with Us</h5>
              <ul class="icon-list">
                <p><a href="tel:+12345678910"> +1 234 567 89 10</a></p>
                <p><a href="mailto:support@shoppersdest.com">support@shoppersdest.com</a></p>
              </ul>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="widget text-center">
              <h5 class="widget-title font-alt">Get to Know Us</h5>
              <ul class="icon-list">
                <p><a href="#">About Us</a></p>
                <p><a href="#">Terms and Conditions</a></p>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>
  <hr class="divider-d">
  <footer class="footer bg-dark">
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <p class="copyright font-alt">&copy; 2024&nbsp;<a href='{% url "home" %}'>shoppers Dest</a></p>
        </div>
        <div class="col-sm-3">
          <div class="footer-social-links"><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-dribbble"></i></a><a href="#"><i class="fa fa-skype"></i></a>
          </div>
        </div>
        <div class="col-sm-3">
          <p class="copyright font-alt text-center">All Rights Reserved</p>
          </div>
        </div>
      </div>
    </div>
  </footer>